* {
    padding: 0;
    margin: 0;
}
html {
  position: relative;
  min-height: 100%;
}

body {
    margin-top: 80px;
    margin-bottom: 60px;
}

div.row {
    padding-bottom: 5%;
}

h3.home-content {
    font-size: 234%;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
}

ul.blog-detail-ul li {
    display: inline-block;
    margin-right: 1em;
    list-style-type: none;
}

div.blog-detail-content {
    margin-top: 1em;
    margin-bottom: 2em;
}

div.blog-detail-up-down {
    color: red;
}

hr {
    margin-top: 12px;
    margin-bottom: 12px;
    border: 0;
    border-top: 1px solid #dcebf5;
}

.navbar-fixed-top {
    border-color: #e7e7e7;
    background-color: #fff;
/ important;
    -webkit-box-shadow: 0px 1px 11px 2px rgba(42, 42, 42, 0.1);
    box-shadow: 0px 1px 11px 2px rgba(42, 42, 42, 0.1);
    border-top: 4px solid #00b5ad;
    margin-bottom: 40px;
    margin-top: 0px;
}

.active-users a.media {
    color: #797878;
    line-height: 26px;
    font-size: 0.9em;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 5px 14px;
    font-size: 0.9em;
}

a {
    color: #797878;
    text-decoration: none;
}

.meta, .meta > a {
    font-size: 0.9em;
    color: #b3b3b3;
    zoom: 1;
    overflow: hidden;
}

.card-footer {
    padding: 10px;
}

.panel-heading {
    background-color: white;
    border: 1px solid #ddd;
}

#bs-example-navbar-collapse-1 {
    background-color: white;
}

div.viewsDOM {
    min-width: 20em;
    max-width: 30em;
    height: 20em;
    margin: 0 auto;
}

.page-down {
    display: inline;
    /*margin-left: 10em;*/
}

.page-up {
    display: inline;
}

.list-title {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .125);
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    padding: 0.5em 1.5em;
}

div.comment-area {
    margin-top: 2em;

}

h3.comment-area-title {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.4em;
}

div.django-ckeditor-widget {
    width: 100%;
}

div.comment {
    border-bottom: 1px dashed #ccc;
    /*margin-bottom: 0.5em;*/
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

div.reply {
    margin-left: 2em;
    background-color: #E4E7ED;
    padding: 0em 0.5em;
    border-bottom: 1px dashed #ccc;
}

#reply_content_container {
    display: none;
    border: 1px solid #e0e0e0;
    border-bottom: none;
    background-color: white;
    overflow: hidden;
    padding: 1em 1em 0.5em;
}

#reply_title {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5em;
}

.tag_a {
    margin: 2px 2px;
}

div.like {
    margin-bottom: 1em;
    cursor: pointer;
    display: inline-block;
    padding: 0.5em 0.3em;
}

div.like .active {
    color: red;
}

ul.navbar-right {
    margin-right: 0px;
}

div#up-top {
    top: 85%;
    left: 96%;
    background-color: #fff;
    position: fixed;
    right: 100px;
    bottom: 150px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s;
    box-shadow: 0 0 6px rgba(0, 0, 0, .12);
    z-index: 5;
}

div#up-top i {
    color: #409eff;
    display: block;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
}

div.copyright {
    margin-bottom: -1%;
}

#comment_list {
    padding: 0% 2%;
}

div.reply > div > p {
    margin-left: 2em;
    margin-top: 0.5em;
}

a.blog-tags-a, a.page-a {
    color: #797878;
    font-size: 0.9em;
}

.content-last-time {
    color: #797878;
!important;
    font-size: 0.8em;
!important;
}

a.blog-tags-a:hover {
    text-decoration: none;
    color: #66ccff;
!important;
}

a.media:hover {
    text-decoration: none;
    color: #66ccff;
}

a.page-a:hover {
    text-decoration: none;
    color: #66ccff;
}

.post-item-title > a {
    color: #797878;
}

.post-item-title > a:hover {
    text-decoration: none;
    color: #66ccff;
}

div.comment-text {
    margin-left: 1.5em;
    margin-top: 1em;
}

.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.like {
    display: inline-block;
}

#footer {
    padding: 0.35em;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}






