* {
    padding: 0;
    margin: 0;
}

body {
    margin-top: 80px !important;
}

h3.home-content {
    font-size: 234%;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
}

ul.blog-detail-ul li {
    display: inline-block;
    margin-right: 1em;
    list-style-type: none;
}

div.blog-detail-content {
    margin-top: 1em;
    margin-bottom: 2em;
}

div.blog-detail-up-down {
    color: red;
}


hr {
    margin-top: 12px;
    margin-bottom: 12px;
    border: 0;
    border-top: 1px solid #dcebf5;
}

.navbar-fixed-top {
    border-color: #e7e7e7;
    background-color: #fff;
/ important;
    -webkit-box-shadow: 0px 1px 11px 2px rgba(42, 42, 42, 0.1);
    box-shadow: 0px 1px 11px 2px rgba(42, 42, 42, 0.1);
    border-top: 4px solid #00b5ad;
    margin-bottom: 40px;
    margin-top: 0px;
}

.active-users a.media {
    color: #797878;
    line-height: 26px;
    font-size: 0.9em;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 5px 14px;
    font-size: 0.9em;
}

a {
    color: #797878;
    text-decoration: none;
}


.meta, .meta > a {
    font-size: 0.9em;
    color: #b3b3b3;
    zoom: 1;
    overflow: hidden;
}

.card-footer {
    padding: 10px;
}

.panel-heading {
    background-color: white;
    border: 1px solid #ddd;
}

#bs-example-navbar-collapse-1 {
    background-color: white;
}

div.viewsDOM {
    min-width: 20em;
    max-width: 30em;
    height: 20em;
    margin: 0 auto;
}

.page-down {
    margin-left: 12em;
    display: inline;
}

.page-up {
    display: inline;
}

.list-title{
    background-color: white;
    border: 1px solid rgba(0,0,0,.125);
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    padding: 0.5em 1.5em;
}

div.comment-area{
    margin-top: 2em;

}

h3.comment-area-title{
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.4em;
}

div.django-ckeditor-widget{
    width: 100%;
}

div.comment{
    border-bottom: 1px dashed #ccc;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
}

div.reply{
    margin-left: 2em;
}

#reply_content_container{
    display: none;
    border: 1px solid #e0e0e0;
    border-bottom: none;
    background-color: white;
    overflow: hidden;
    padding: 1em 1em 0.5em;
}

#reply_title{
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5em;
}

.tag_a{
    margin: 2px 2px;
}

div.like{
    margin-bottom: 1em;
    cursor:pointer;
    display:inline-block;
    padding: 0.5em 0.3em;
}

div.like .active{
    color: red;
}

ul.navbar-right{
    margin-right: 0px;
}

div#up{
    top: 90%;
    left: 96%;
    background-color: #fff;
    position: fixed;
    right: 100px;
    bottom: 150px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s;
    box-shadow: 0 0 6px rgba(0,0,0,.12);
    z-index: 5;
}
div#up i{
    color: #409eff;
    display: block;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
}






