{% load staticfiles %}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}个人博客{% endblock %}</title>
    {% block head_css %}
        <link href="{% static '/css/base.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
              integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
              crossorigin="anonymous">
    {% endblock %}


</head>
<body style="background-color: #f5f8fa">
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top navbar-dark bg-dark col-offset-1">
    <a class="navbar-brand" href="{% url "home" %}">
        个人博客网站
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% block nav_home_active %}{% endblock %}">
                <a class="nav-link" href="/">首页</a>
            </li>
            <li class="nav-item {% block nav_blog_active %}{% endblock %}">
                <a class="nav-link" href="{% url 'blog_list' %}">文章列表</a>
            </li>
        </ul>

        <nav class="navbar navbar-dark bg-dark mx-auto">
            <form class="form-inline" action="{% url 'search' %}" method="get">
                <input class="form-control mr-sm-2" name="search" id="search" type="search" placeholder="请输入文章标题"
                       aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </nav>
        <ul class="nav navbar-nav navbar-right">
            {% if not user.is_authenticated %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}?from={{ request.get_full_path }}">登录</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}?from={{ request.get_full_path }}">注册</a>
                </li>
            {% else %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown">
                        {{ user.username }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'user_info' %}">个人资料</a>
                        <div class="dropdown-divider"></div>
                        {% if user.is_staff or user.is_superuser %}
                            <a class="dropdown-item" href="{% url 'admin:index' %}">后台管理</a>
                            <div class="dropdown-divider"></div>
                        {% endif %}
                        <a class="dropdown-item" href="{% url 'logout' %}?from={{ request.get_full_path }}">退出</a>
                    </div>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        {% block content %}

        {% endblock %}
        {% block tags %}

        {% endblock %}

    </div>
</div>

<div id="up">
    <i class="el-icon-caret-top" id="ifa"></i>
</div>

<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    $("#up").hide();         //刚进入页面时设置为隐藏
    $("#up").bind("click", function () {     //单击时返回顶部
        $('html, body').animate({scrollTop: 0}, 300);
        return false;
    });
    $(window).bind('scroll resize', function () {   //判断页面所在的位置，小于300就隐藏，否则就显示
        if ($(window).scrollTop() <= 300) {
            $("#up").hide();
        } else {
            $("#up").show();
        }
    });
</script>
{% block js %}
{% endblock %}
</body>
</html>