{% load staticfiles %}
{% load blog_tags %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}杨剑Blog{% endblock %}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link href="{% static '/css/base.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/prism.css' %}">

    {% block head_css %}

    {% endblock %}


</head>
<body style="background-color: #f5f8fa">
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top navbar-dark bg-dark col-offset-1">
    <a class="navbar-brand" href="{% url "home" %}">
        杨剑Blog
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% block nav_home_active %}{% endblock %}">
                <a class="nav-link" href="/">首页</a>
            </li>
            <li class="nav-item {% block nav_blog_active %}{% endblock %}">
                <a class="nav-link" href="{% url 'blog:blog_list' %}">文章列表</a>
            </li>
        </ul>
        <div class="col-center-block">
            <form class="form-inline my-2 my-lg-0" action="{% url 'blog:search' %}" method="get">
                <input class="form-control mr-sm-2" name="search" id="search" type="search" placeholder="请输入文章标题"
                       aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>


        <ul class="nav navbar-nav navbar-right">
            {% if not user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}?from={{ request.get_full_path }}">登录</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}?from={{ request.get_full_path }}">注册</a>
                </li>
            {% else %}
                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown">
                        <img src="{{ user.userprofile.image.url }}" class="rounded" alt="Cinque Terre" height="25px">
                        &nbsp;&nbsp;{{ user.get_nickname_or_username }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'user_info' %}">个人资料</a>
                        <div class="dropdown-divider"></div>
                        {% if user.is_staff or user.is_superuser %}
                            <a class="dropdown-item" href="{% url 'admin:index' %}">后台管理</a>
                            <div class="dropdown-divider"></div>
                        {% endif %}
                        <a class="dropdown-item" href="{% url 'logout' %}?from={{ request.get_full_path }}">退出</a>
                    </div>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        {% block content %}

        {% endblock %}
        {% block tags %}

        {% endblock %}

    </div>
    <div id="up-top">
        <i class="fas fa-caret-up"></i>
    </div>
</div>


<footer id="footer" class="text-center">
    <div class="copyright">
        <span>博客总访问量：{% get_view_nums %}</span>
    </div>
    <div class="copyright-1">
        <a href="http://www.miitbeian.gov.cn" style="color: white">蜀ICP备17019633号</a>
    </div>
</footer>


</body>

<script src="https://cdn.hcharts.cn/highcharts/highcharts.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'js/blog.js' %}"/>
<script src="https://cdn.bootcss.com/popper.js/1.14.3/umd/popper.min.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script>
    // 图表配置
    var options = {
        chart: {
            type: 'line'                          //指定图表的类型，默认是折线图（line）
        },
        title: {
            text: '最近一周访问量'                 // 标题
        },
        xAxis: {
            categories: {{ dates | safe }},   // x 轴分类
            tickmarkPlacement: 'on'
        },
        yAxis: {
            title: {
                text: null                // y 轴标题
            },
            labels: {enabled: false},
            gridLineDashStyle: 'Dash',
        },
        series: [{                              // 数据列
            name: '访问量',                        // 数据列名
            data: {{ read_nums }}                     // 数据
        }],

        legend: {enabled: false},
        credits: {enabled: false},
    };
    // 图表初始化函数
    var chart = Highcharts.chart('container', options);
</script>

<script type="text/javascript" src="{% static 'ckeditor/static/ckeditor/ckeditor/plugins/prism_patched.min.js' %}"/>


{% block js %}

{% endblock %}
</html>