{% extends 'base.html' %}


{% block title %}杨剑Blog|首页{% endblock %}

{% block nav_home_active %}active{% endblock %}

{% block content %}
    <div class="col-sm-9 col-md-9">
        <div>
            <h3 class="home-content">欢迎访问我的个人博客</h3>
            <!-- 图表容器 DOM -->
            <div class="viewsDOM" id="container"></div>
        </div>
    </div>
    <div class="col-sm-3 col-md-3">
        <div class="card-header active-users" style="background-color: white;">
            <div class="text-center tag_title">今天热门文章</div>
            <hr>
            {% for hot_date in today_hot_date %}
                <a class="media" href="{% url 'blog:blog_detail' hot_date.content_object.pk %}">
                    <div class="media-body">
                        <span class="media-heading">{{ hot_date.content_object.title | truncatechars:25 }}
                        </span>
                    </div>
                </a>
            {% empty %}
                <p>今天暂时没有热门文章</p>
            {% endfor %}
        </div>
        <br>
        <div class="card-header active-users" style="background-color: white;">
            <div class="text-center tag_title">七天热门文章</div>
            <hr>
            {% for hot_blog in hot_data_for_7_days %}
                <a class="media" href="{% url 'blog:blog_detail' hot_blog.id %}">
                    <div class="media-body">
                        <span class="media-heading">{{ hot_blog.title | truncatechars:25 }}
                        </span>
                    </div>
                </a>
            {% empty %}
                <p>七天暂时没有热门文章</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block js %}


{% endblock %}
