{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}用户注册{% endblock %}

{% block head_css %}
    <style type="text/css">
        .captcha {
            position: absolute;
            z-index: 1;
            top: 78%;
            left: 86%;
            width: 81px;
            height: 38px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="col-sm-8 col-md-8">
        <div class="card">
            <h4 class="card-header">注册</h4>
            <div class="card-body">
                <form action="" method="post" id="register_form">

                    {% csrf_token %}
                    {% bootstrap_form register_form %}
                    {#                    {% for field in register_form %}#}
                    {#                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>#}
                    {#                        {{ field }}#}
                    {#                        <p class="text-danger">{{ field.errors.as_text }}</p>#}
                    {#                    {% endfor %}#}
                    {#                    <span class="pull-left text-danger">{{ register_form.non_field_errors }}</span>#}
                    <p class="text-right">
                        <button class="btn btn-primary" type="submit" value="注册">注册</button>
                    </p>
                </form>
            </div>
        </div>
    </div>


{% endblock %}


